
.box{
padding-left: 25%;
padding-top: 10%;

}

h1{
  margin-top: -70px;
  margin-bottom: 80px;
}

#btnT, #btnP, #btnC{
  border-radius: 40%;
  width: 45px;
  height: 40px;

}

.play_ground{
padding-bottom: 14%;
position: relative;
right: 150px;

}

.box > form{
  position: relative;
}

li{
  list-style-type: none;
  padding: 20px;

}

.container{

  padding-left: 10%;
  padding-top: 0%;

}

/////////////////////////////////////////////////////////////////////////

h1{ font-family: "Bowlby One"; font-size: 43px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; }
h3 { font-family: "Bowlby One"; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }

